@font-face	{
	font-family:	"Triforce";
	src:	url("../fonts/Triforce.ttf")	format("truetype");
}

body {
 background-image: url(../img/backgrounds/bg_jp_pc.jpg); /* Background for the site */
 
 background-attachment: fixed;	/* Controls whether background scrolls */
 
 background-size: cover;	/* research */
 
 background-color: rgba(100,100,100,.8); /* Tint color */
 
 background-blend-mode: multiply;	/* Tint for background */

}

.logo img{
		width:	500px;
		float:	top;
		padding-left:	0%;
		padding-top:	0%;
		margin-top: 20px;
}

.text{
	font-family:	Triforce;	
	margin-top: 50px;
	line-height: .5cm;
	text-align: left;
	color:#000;
	font-size: 25px;
	text-shadow: 2px 2px 10px
}